@import "../../styles/variables.scss";

.CountryAbout {
  min-height: calc(100vh - 4.75rem);
}

.CountryAbout-bg {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient($background-color1, $background-color1, url(../../../public/img/background/background_03.jpg));
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -1;
}

.about-head {
  padding-top: 3rem;
  font-size: 3rem;
  font-weight: 400;
  color: $primary-color;
  text-align: center;
}

.about-info {
  margin-top: 3rem;
  font-size: 1.75rem;
  text-indent: 3rem;
  line-height: 3rem;
  color: $primary-color;
  text-align: justify;
}

.js-project {
  text-decoration: none;
  color: $primary-color;
}

.js-project:hover {
  color: $highlight-color;
}

@media (max-width: 1080px) {
  .about-head {
    padding-top: 1.25rem;
    font-size: 2.25rem;
  }
  .about-info {
    margin-top: 1.125rem;
    font-size: 1.5rem;
    line-height: 2rem;
    color: $secondary-color;
    text-align: justify;
  }
}

@media (max-width: 800px) {
  .about-head {
    padding-top: 1.25rem;
    font-size: 2rem;
  }
  .about-info {
    margin-top: 1rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: $secondary-color;
    text-align: justify;
  }
}
