//colors
$white-color: #fff;
$primary-color: #eaeaea;
$secondary-color: #afb8b8;
$highlight-color: #61ff10;
$background-brown: rgba(144, 91, 75, 0.75);
$background-gray: rgba(175, 184, 184, 0.24);
$gray-opacity1: rgba(234, 234, 234, 0.3);
$gray-opacity2: rgba(234, 234, 234, 0.7);
$gray-opacity3: rgba(234, 234, 234, 0.8);
$gray-light: #939999;
$countries-links: #7a4d40;
$border-color1: yellow;
