//colors
$white-color: #fff;
$primary-color: #eaeaea;
$secondary-color: #afb8b8;
$highlight-color: #61ff10;
$background-color1: rgba(144, 91, 75, 0.75);
$background-color2: rgba(175, 184, 184, 0.24);
$color-bg-opacity1: rgba(234, 234, 234, 0.3);
$color-bg-opacity2: rgba(234, 234, 234, 0.7);
$color-bg-opacity3: rgba(234, 234, 234, 0.8);
$color-light: #939999;
$countries-links: #7a4d40;
$border-color1: yellow;
