/*.CountryList {*/
/*  border: double gray 3px;*/
/*  width: 180px;*/
/*  padding: 3px 7px;*/
/*  background-color: lightyellow;*/
/*}*/

.CountryList {
  text-align: center;
  margin: 0 auto;
}

.CountryListName {
  font-weight: bold;
}

.CountriesGroup {
  margin: 0;
  padding: 10px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}
