/*.content {*/
/*  position: relative;*/
/*}*/


.country-info {
  width: 100%;
  padding: 0;
  position: fixed;
  left: 0;
  bottom: 0;
  color: #eaeaea;
  background: #7a4d40;
  border-top: solid 5px #939999;
  border-bottom: solid 5px #939999;
  /*transform: translateY(50%);*/
  /*transition: transform 0.5s ease-in-out, opacity 0.2s ease-in-out;*/
  animation: show-info .5s ease-in-out;
}

@keyframes show-info {
  from {transform: translateY(100%); }
  to {transform: translateY(0); }
}

/*.show {*/
/*  transform: translateY(0);*/
/*  transition: transform 0.5s ease-in-out, opacity 0.2s ease-in-out;*/
/*}*/

.country-info__content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.country-info h2,
.country-info h3 {
  font-weight: 400;
}

.sectionInfo {
  display: inline-block;
  /*vertical-align: middle;*/
}

.flag-preview-info {
  height: 4rem;
  width: 20%;
  margin: 1rem;
  object-fit: contain;
}


