.Country {
  padding: 2px 0;
}

.flag-preview {
  width: 10rem;
}

.Country {
  width: 20rem;
  display: inline-block;
  margin: 1rem 0.5rem;
  text-align: center;
}

.CountryName {
  width: 100%;
}

.flag-frame {
  display: block;
  margin: 0 auto;
  width: 17rem;
  height: 9rem;
  background-color: lemonchiffon;
}

.flag-preview {
  display: block;
  margin: 0 auto;
  padding: 0.5rem 0;
  width: auto;
  height: 8rem;
  object-fit: contain;
}


