.country-info {
  width: 100%;
  padding: 0;
  position: fixed;
  left: 0;
  bottom: 0;
  color: #eaeaea;
  background: #7a4d40;
  border-top: solid 5px #939999;
  border-bottom: solid 5px #939999;
  animation: show-info .5s ease-in-out;
}

@keyframes show-info {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.country-info__content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.country-info h2,
.country-info h3 {
  font-weight: 400;
}

.country-info h3 {
  padding-left: 25%;
  font-weight: 400;
}

.country-info .country-info__name {
  padding-bottom: 0.5rem;
  font-size: 2rem;
  text-align: center;
}

.country-info__properties {
  font-size: 1.25rem;
}

.country-info__value {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: left;
}

.sectionInfo {
  display: inline-block;
  width: 33.3%;
}

.flag-preview-info {
  height: 4rem;
  width: 20%;
  margin: 1rem;
  object-fit: contain;
}

@media (max-width: 1080px) {
  .country-info .country-info__name {
    font-size: 1.5rem;
  }

  .country-info__properties {
    width: 70%;
    vertical-align: middle;
  }

  .country-info__properties {
    font-size: 1rem;
  }

  .country-info__value {
    font-size: 1.25rem;
  }

  .country-info h3 {
    display: inline-block;
    padding: 0.25rem 2rem 0.7rem;
  }

  .flag-preview-info {
    display: none;
  }
}

@media (max-width: 600px) and (orientation: portrait) {
  .country-info__content {
    display: flex;
    flex-direction: column;
  }
  .country-info__name {
    width: auto;
  }

  .country-info h3 {
    padding: 0.25rem 0;
  }

  .country-info__properties {
    padding-bottom: 0.9rem;
    text-align: center;
  }
}