html {
  scroll-behavior: smooth;
}

.scroll-up {
  position: fixed;
  display: block;
  bottom: 8rem;
  right: 2rem;
  font-family: "Material Icons", fantasy;
  font-size: 3rem;
  color: rgba(234, 234, 234, 0.7);
  background-color: #939999;
  border-radius: 0.4rem;
  cursor: pointer;
  opacity: 0.5;
  transform: translateX(300%);
  transition: transform 0.5s ease-in-out, opacity 0.2s ease-in-out;
}

.show {
  transform: translateX(0);
  transition: transform 0.5s ease-in-out, opacity 0.2s ease-in-out;
}