.loginMenu {
  display: inline-block;
  font-size: 1.3rem;
  color: #b1091d;
  text-decoration: none;
  cursor: pointer;
  transition: color .5s;

  &:hover {
    color: #f30e29;
  }
}

.logoutMenu {
  position: absolute;
  transform: translate(-85%, 120%);
}

@media (max-width: 600px) {
  .loginMenu {
    margin: 0 0.5rem;
    font-size: 1.25rem;
  }
}

@media (max-width: 400px) {
  .loginMenu {
    margin: 0.2rem;
    font-size: 1rem;
    line-height: 1.75rem;
  }
}
